<div class="context">
  <h1>Welcome to the {{title}}</h1>
  <nav class="navbar">
    <form class="justify-content-start">
      <a routerLink="/welcome"><button routerLinkActive="actif" class="btn btn-secondary" type="button">Home</button></a>
      <a routerLink="/list"><button routerLinkActive="actif" class="btn btn-secondary" type="button" >All the tickets</button></a>
      <a routerLink="/new"><button routerLinkActive="actif" class="btn btn-secondary" type="button">Add a new ticket</button></a>
      <a routerLink="/kanban"><button routerLinkActive="actif" class="btn btn-secondary" type="button">See the Kanban</button></a>
    </form>
  </nav>
</div>
