<div class="area">
  <ul class="circles">
    <app-header></app-header>

    <div class="container">
      <div class="circle-container">
        <h2 class="circle-title">New Tickets</h2>
        <div class="circle">
          <div id="text">{{tNew.length}}</div>
        </div>
      </div>
      <canvas baseChart class="chart-canvas"
              [type]="'pie'"
              [datasets]="pieChartDatasets"
              [labels]="pieChartLabels"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
      </canvas>
    </div>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>


